html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);

}

nav {
    width: 100%;
    background: black;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
}

ul {

    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: solid thin rgba(188, 226, 21, 0.747);
    border-radius: 15%;
    transition: ease-in 1s;
    transition-delay: 2.9s;
   
    
}

li {
    float: left;
}

a {
    padding: 20px;
    width: 150px;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    color:  whitesmoke ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: large;
    /* font-weight: bold; */
}

li > a:hover {
    color: rgb(173, 175, 166);
    transition: 0.3s;
    text-shadow: 0 0 3px #FF0000;
    
}

#navbar {
    transition: 1s;
    opacity: 0;
    transition-delay: 2.5s;
    
}

#section1 {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  black;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out;
    
}
#section1 >.content > .desc {
    display: flex;
    color: #e1d6de;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    
}

#section1 > .content > .desc > #compsci {
    transition: 1s;
    opacity: 0;
    transition-delay: 1.5s;
}

#section1 > .content > .desc > #college {
    transition: 1s;
    opacity: 0;
    transition-delay: 2.0s;
}

#section1 >.content >.desc > span {
    padding-left: 10px;
    padding-right: 10px;
}

#section1 > .content > #name_homepage{
    color: #e1d6de;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 100px;
}

.Prompt__cursor {
    height: 75px;
    width: 16px;
    background: rgb(189, 226, 21);
    display: inline-flex;
    margin-left: 8px;
    animation: 600ms alternate infinite blink;
    }
    
@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#section2 {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  black;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out;
    
}
#section3 {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  black;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out;
    
}

.content {
    animation: scrollreveal ease 0.6s; 
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes scrollreveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    color: whitesmoke;
}

.about-content{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.about-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pic {
    width: 320px;
    height: 480px;
    border-bottom: solid rgb(189, 226, 21);
    /* border-radius: 5%;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.image-text{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-family: 'Prompt', sans-serif;
    justify-content: left;
    padding-left: 5%;
}

.about-text {
    color: #e1d6de;
    display: flex;
    flex-direction: column;
    /* border: solid; */
    width: 100%;
    margin: 4%;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

p {
    margin: 3px;
}

.about-text > a {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    font-size: xx-large;
    justify-content: left;
    padding: 0;
}

.options {
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: xx-large;
    text-shadow : 1px 1px 3px whitesmoke;
    color: whitesmoke;
}

.text:hover {
    color: aquamarine;
    text-shadow : 1px 1px 3px aquamarine;
    transition: 0.7s;

}

.border {
    border-bottom: solid rgb(188, 207, 206);
    height: 50px;
    width: 170px;
    display: grid;
    justify-content: center;
    border-radius: 10%;

}

.project-block {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* background: whitesmoke; */
    padding: 2%;
    border-radius: 25px;
    /* background-image: linear-gradient(to top left, rgb(196, 207, 207), rgb(228, 241, 241) ) */
    margin: 4%;
}

.project-text > p{
    text-align: left;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e1d6de;
}

.project-img {
    display: grid;
    justify-content: center;
    
}

.project-img > a {
    display: flex;
    justify-content: right;
    font-size: xx-large;
    
}

.img-project {
    width: 300px;
    height: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    
}


.right-arrow {
    margin: 10px;
    padding: 50px;
}

.left-arrow {
    margin: 10px;
    padding: 50px;
}
/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1d;
    color: whitesmoke;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
}

.fa-github {
    background: transparent;
    color: whitesmoke;
    width: 75px
}

.fa-linkedin {
    background: transparent;
    color: whitesmoke;
}

.fa::before {
    font-size: large;
} */