html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
}

nav {
    width: 100%;
    background: black;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
}

ul {

    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    float: left;
}

a {
    padding: 20px;
    width: 150px;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    color:  #e1d6de ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: large;
    /* font-weight: bold; */
}

#navbar {
    transition: 1s;
    opacity: 0;
    transition-delay: 2.2s;
}

#section1 {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  black;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out;
    
}
#section1 >.content > .desc {
    display: flex;
    color: #e1d6de;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    
}

#section1 > .content > .desc > #compsci {
    transition: 1s;
    opacity: 0;
    transition-delay: 1.2s;
}

#section1 > .content > .desc > #college {
    transition: 1s;
    opacity: 0;
    transition-delay: 1.7s;
}

#section1 >.content >.desc > span {
    padding-left: 10px;
    padding-right: 10px;
}

#section1 > .content > #name_homepage{
    color: #e1d6de;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 100px;
}

.Prompt__cursor {
    height: 75px;
    width: 16px;
    background: rgb(189, 226, 21);
    display: inline-flex;
    margin-left: 8px;
    animation: 600ms alternate infinite blink;
    }
    
@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#section2 {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  black;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out;
    
}
#section3 {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  black;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out;
    
}

.content {
    animation: scrollreveal ease 0.6s; 
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes scrollreveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    color: whitesmoke;
}