body {
    background-color: rgb(34, 34, 34);
}

#section1 {

    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out; 
}

#section2 {

    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out; 
}

#section3 {

    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out; 
}

.cmd {
    width: 900px;
    height: 600px;
    box-shadow: 2px 4px 10px rgba(0,0,0,.5);
}

.cmdtoolbar {
    background: black;
    width: 100%;
    /* padding: 0 8px; */
    box-sizing: border-box;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cmdtoolbarbuttons {
    display: flex;
    align-items: center;
}

.Toolbar__button {
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    font-size: 14px;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 0px #41403A,0px 1px 1px 0px #474642;
    border: none;
    margin-right: 4px;
}

.Toolbar__button:hover {
  cursor: pointer;
}

.Toolbar__button--exit {
background: #f25d2b;
background: linear-gradient(#f37458 0%, #de4c12 100%);
background-clip: padding-box;
}

.Toolbar__button:focus {
outline: none;
}

.cmdbody {
    background: rgb(0, 0, 0);
    height: calc(100% - 25px);
    margin-top: -1px;
    padding-top: 2px;
    font-family: 'Ubuntu mono';
    font-size: larger;
    padding-left: 1px;
}

.cmdprompt {
    margin-top: 10px;
    display: flex;
}

.Prompt__user {
color: #ddd;
}
.Prompt__location {
color: #6d85a9;
}
.Prompt__dollar {
color: #ddd;
}

#Prompt_text {
    color: #ddd;
    margin-left: 8px;
}
.Prompt__cursor {
height: 17px;
width: 8px;
background: white;
display: block;
margin-left: 8px;
animation: 600ms alternate infinite blink;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
.Terminal {
    max-height: 90%;
    width: 95%;
}
}